<div class="alert alert-danger" ng-if="!userViewController.user">
  Not Signed Up Yet. <a ui-sref="public.signup"> Sign up Now! </a>
</div>
<div ng-if="userViewController.user" style="color: white;">
<h2>User Info:</h2>
User name:  <strong> {{ userViewController.user.firstName }} {{ userViewController.user.lastName }} </strong> <br>
User email: <strong> {{ userViewController.user.email }} </strong> <br>
User phone: <strong> {{ userViewController.user.phone }} </strong> <br>
</div>

<div ng-if="userViewController.menuItem">
  <h2>Favorit Menu Item:</h2>
  <strong>
    {{ userViewController.menuItem.name }}
  </strong>
  <br>
  <p>
    {{ userViewController.menuItem.description }}
  </p>
  <br>
  <img class="img-responsive"
    width="250" height="150"
    ng-src="{{userViewController.imagePath}}/images/{{userViewController.menuItem.short_name}}.jpg"
    alt="{{userViewController.menuItem.name}}">
</div>
<!-- <menu-item menu-item="userViewController.menuItem">
</menu-item> -->
