<div class="table_info">
<table class="table table-striped table-hover" ng-if="list.isListNotEmpty();">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in list.items">
        <td>{{ item.name }}</td>
        <td>{{ item.short_name }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button type="button"
          class="btn btn-danger btn-sm"
          ng-click="list.onDelete({index: $index});">
          Don't want this one!
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-danger" ng-if="list.isApiResponseEmpty();">
  Nothing found!
</div>
</div>
<div class="alert alert-info loading_info">
  Loading...
  <div class="loader"></div>
</div>
