<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Descriprion:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in $ctrl.categories"
          ui-sref="items({short_name: category.short_name})">
        <td>
          {{category.name}}({{category.short_name}})
        </td>
        <td>
          {{category.special_instructions}}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <div class="row" ng-repeat="category in $ctrl.categories">
    <div class="col-sm-3">
      <a ui-sref="items({short_name: category.short_name})">
        {{category.name}}({{category.short_name}})
      </a>
    </div>
    <div class="col-sm-9">
      {{category.special_instructions}}
    </div>
    <br>
  </div> -->
</div>
