<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Short Name:</th>
        <th>Name:</th>
        <th>Descriprion:</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="category in $ctrl.categories"
          ui-sref="items({short_name: category.short_name})">
        <td width="10%">
          {{ category.short_name }}
        </td>
        <td width="20%">
          {{ category.name }}
        </td>
        <td width="70%">
          {{ category.special_instructions }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
